

<!-- IF .draftrow -->
<div class="panel">

	<h3>{L_LOAD_DRAFT}</h3>
	<p>{L_LOAD_DRAFT_EXPLAIN}</p>

</div>

<div class="<!-- IF not S_PRIVMSGS -->forumbg<!-- ELSE -->panel<!-- ENDIF -->">

	<dl class="topiclist">
		<dl class="header">
			<dt>{L_LOAD_DRAFT}</dt>
			<dd class="posted">{L_SAVE_DATE}</dd>
		</dl>
	</dl>
	<dl class="topiclist<!-- IF not S_PRIVMSGS --> topics<!-- ELSE --> cplist<!-- ENDIF -->">

	<!-- BEGIN draftrow -->
	<dl class="row<!-- IF draftrow.S_ROW_COUNT is even --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
		<dt>
			<a href="{draftrow.U_INSERT}" title="{L_LOAD_DRAFT}" class="topictitle">{draftrow.DRAFT_SUBJECT}</a><br />
			<!-- IF not S_PRIVMSGS --><!-- IF draftrow.S_LINK_TOPIC -->{L_TOPIC}: <a href="{draftrow.U_VIEW}">{draftrow.TITLE}</a>
			<!-- ELSEIF draftrow.S_LINK_FORUM -->{L_FORUM}: <a href="{draftrow.U_VIEW}">{draftrow.TITLE}</a>
			<!-- ELSE -->{L_NO_TOPIC_FORUM}<!-- ENDIF --><!-- ENDIF -->
		</dt>
		<dd class="posted">{draftrow.DATE}</dd>
	</dl>
	<!-- END draftrow -->

	</dl>

</div>
<!-- ENDIF -->
