/****************************************************
 ************************ CP ************************
 ****************************************************/

#cp {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: #191919;
	border: 1px solid rgba(255, 200, 200, 0.25);
	padding: 5px;
}

.pm-panel-message {
	float: left;
	padding: 0 1%;
	width: 79%;
}

.display-actions {
	margin-top: 10px;
}

dd.mark {
	float: right !important;
}

#markall {
	display: block;
}

/* Menu */
#cp-menu {
	float:left;
	width: 19%;
	margin-top: 1em;
	margin-bottom: 5px;
}

/* Main */
#cp-main {
	float: left;
	padding: 0 1%;
	width: 79%;
}

#cp-main .content {
	padding: 0;
}

#cp-main .panel p {
	font-size: 11px;
}

#cp-main .panel ol {
	margin-left: 2em;
	font-size: 11px;
}

#cp-main .settings dl {
	clear: both;
	padding: 5px 0;
}

#cp-main .settings dt {
	padding: 0 5px;
	width: 220px;
}

#cp-main .settings dd {
	font-size: 13px;
	padding: 0 5px;
}

#cp-main .settings dd input, #cp-main .settings dd select, #cp-main .settings dd option {
	font-size: 13px;
}


ul.cplist {
	margin-bottom: 5px;
}

#cp-main .panel li.header dd, #cp-main .panel li.header dt {
	margin-bottom: 2px;
}

#cp-main table.table1 {
	margin-bottom: 1em;
}

#cp-main table.table1 thead th {
	color: #333333;
	font-weight: bold;
	border-bottom: 1px solid #333333;
	padding: 5px;
}

#cp-main table.table1 tbody th {
	font-style: italic;
	background-color: transparent !important;
	border-bottom: none;
}

#cp-main .pagination {
	float: right;
	width: auto;
	padding-top: 1px;
}

#cp-main .postbody p {
	font-size: 11px;
}

#cp-main .pm-message {
	border: 1px solid #e2e2e2;
	margin: 10px 0;
	width: auto;
	float: none;
}

.pm-message h2 {
	padding-bottom: 5px;
}

#cp-main .postbody h3, #cp-main .box2 h3 {
	margin-top: 0;
}

#cp-main .buttons {
	margin-left: 0;
}

#cp-main ul.linklist {
	margin: 0;
}

.mcp-main .postbody {
	width: 100%;
}

#cp-main h2 {
	border-bottom: none;
	padding: 0;
	margin-left: 10px;
}

/* Navigation */
#forum #navigation {
	width: 100%;
	padding-top: 36px;
}

#forum #navigation ul {
	list-style:none;
}

#forum #navigation li {
	margin: 1px 0;
	padding: 0;
	font-weight: bold;
	display: inline;
}

#forum #navigation a {
	border: solid 1px #141414;
	display: block;
	padding: 5px;
	margin: 1px 0;
	text-decoration: none;
	font-weight: bold;
	background: #282828 none repeat-y 100% 0;
}

#forum #navigation a:hover {
	text-decoration: none;
	background-color: #0A0A0A;
	color: #BCBCBC;
	background-image: none;
}

#forum #navigation #active-subsection a {
	display: block;
	color: #d3d3d3;
	background-color: #121212;
	background-image: none;
}

#forum #navigation #active-subsection a:hover {
	color: #d3d3d3;
}

/* Friends list */
.cp-mini {
	padding: 0 5px;
	margin: 10px 15px 10px 5px;
}

dl.mini dt {
	font-weight: bold;
	color: #676767;
}

dl.mini dd {
	padding-top: 4px;
}

.friend-online {
	font-weight: bold;
}

.friend-offline {
	font-style: italic;
}

/* PM */
#pm-menu {
	line-height: 2.5em;
}

.pm-panel-header {
	margin: 0; 
	padding-bottom: 10px; 
	border-bottom: 1px dashed #A4B3BF;
}

.reply-all {
	display: block; 
	padding-top: 4px; 
	clear: both;
	float: left;
}

.pm-panel-message {
	padding-top: 10px;
}

.pm-return-to {
	padding-top: 23px;
}

#cp-main .pm-message-nav {
	margin: 0; 
	padding: 2px 10px 5px 10px; 
	border-bottom: 1px dashed #A4B3BF;
}

.current {
	color: #999999;
}

ol.def-rules {
	padding-left: 0;
}

ol.def-rules li {
	line-height: 180%;
	padding: 1px;
}

.pmlist li.bg1 {
	padding: 0 3px;
}

.pmlist li.bg2 {
	padding: 0 3px;
}

dl.pmlist dl {
	border-bottom: solid 1px #141414;
	margin: 0;
	padding-left: 40px;
}

dl.pmlist dt {
	width: 60% !important;
}
dl.pmlist dt textarea {
	width: 95%;
}

dl.pmlist dd {
	margin-left: 61%;
	margin-bottom: 2px;
	vertical-align: top;
}

dl.pmlist {
	border-bottom: none;
}

dl.pmlist .topiclist dt {
	width: auto;
}

dl.pmlist .topiclist dd {
	margin: 0;
	width: auto;
	vertical-align: middle;
}

.pm-legend {
	border-left-width: 10px;
	border-left-style: solid;
	border-right-width: 0;
	margin-bottom: 3px;
	padding-left: 3px;
}

/* Avatar gallery */
#gallery label {
	position: relative;
	float: left;
	margin: 10px;
	padding: 5px;
	width: auto;
	text-align: center;
}

/* Tabs */
#tabs {
	line-height: normal;
	margin: 20px 0 -1px 0px;
	min-width: 570px;
	position: relative;
}

#tabs ul {
	margin:0;
	padding: 0;
	list-style: none;
}

#tabs li {
	display: inline;
	margin: 0;
	padding: 0;
	font-size: 10px;
	font-weight: bold;
}

#tabs a {
	background-color: #595959;
	border: 1px solid rgba(255, 200, 200, 0.25);
	border-bottom-color: #595959;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: white;
	float: left;
	margin: 0 4px -1px 0;
	padding: 0 0 0 5px;
	text-decoration: none;
	cursor: pointer;
}

#tabs a span {
	float: left;
	display: block;
	padding: 6px 10px 6px 5px;
	white-space: nowrap;
}

#tabs a:hover {
	background-position: 0 -70px;
}

#tabs a:hover span {
	background-position:100% -70px;
}

#tabs .activetab a {
	background-color: #191919;
	border: 1px solid rgba(255, 200, 200, 0.25);
}

#tabs .activetab a:hover {
	background-position: 0 0;
}

#tabs .activetab a:hover span {
	background-position: 100% 0;
}

#minitabs {
	line-height: normal;
	margin: -20px 7px 0 0;
}

#minitabs ul {
	margin:0;
	padding: 0;
	list-style: none;
}

#minitabs li {
	display: block;
	float: right;
	padding: 0 10px 4px 10px;
	font-size: 10px;
	font-weight: bold;
	background-color: #f2f2f2;
	margin-left: 2px;
}
#minitabs a:hover {
	text-decoration: none;
}

#viewfolder .post {
	clear: none;
}

#viewfolder > .post {
	margin-left: 1%;
	margin-right: 1%;
	width: 77%;
}

