/****************************************************
 *********************** POST ***********************
 ****************************************************/

.post {
	background-color: #191919;
	border: solid 1px #303030;
	border-radius: 2px;
	clear: both;
    font-size: 13px;
	height: 1%;
	overflow: hidden;
	padding: 10px;
	margin: 10px 0;
	background-repeat: no-repeat;
	background-position: 100% 0;
}

.postbody {
	clear: both;
	float: right;
	width: 76%;
}

.postprofile {
	float: left;
	margin: 5px 0 10px;
	min-height: 80px;
	width: 22%;
}

.post h3 {
	border: none;
	clear: none;
	margin: 0;
}

p.author {
	font-size: 12px;
}

#postform .bg3 {
	background-color: #191919;
	border: 1px solid rgba(255, 200, 200, 0.25);
	padding: 5px;
}

.back2top {
	clear: both;
	height: 11px;
	text-align: right;
}

.back2top a {
	background: url("{T_IMAGESET_PATH}/icon_back_top.png") no-repeat top left;
	text-decoration: none;
	width: 11px;
	height: 11px;
	display: block;
	float: right;
	overflow: hidden;
	letter-spacing: 1000px;
	text-indent: 11px;
}

fieldset.jumpbox, fieldset.quickmod {
    clear: right;
	float: right;
	margin-bottom: 10px;
}

fieldset.display-options {
	text-align: center;
}

ul.profile-icons {
	float: right;
	width: auto;
	padding: 0;
	list-style: none;
}

ul.profile-icons li {
	float: left;
	margin: 0 5px;
}

ul.profile-icons li a {
	background-color: #3A3A39;
	border: 1px solid rgba(255, 200, 200, 0.25);
	font-family: "Times New Roman", serif;
	display: block;
	height: 100%;
	margin-bottom: 4px;
	text-transform: uppercase;
	width: 100%;
}

ul.profile-icons li a:hover {
	background-color: #4D4D4D;
}

ul.profile-icons li a span {
	padding: 2px;
}

.postprofile {
	color: #848484;
	font-size: 12px;
}

.postprofile dd {
	margin: 0;
	padding: 0;
}

.postprofile ul.profile-icons {
	float: left;
}

.postprofile ul.profile-icons li a {
	background: none top left no-repeat;
	border: 0px;
	font-size: 0px;
	height: 20px;
	letter-spacing: 1000px;
	line-height: 0px;
	text-indent: 11px;
	overflow: hidden;
	width: 28px;
}

.postprofile a.username-coloured {
	font-size: 15px;
	font-weight: bold;
}

ul.profile-icons li.email-icon		{ width: {IMG_ICON_CONTACT_EMAIL_WIDTH}px; height: {IMG_ICON_CONTACT_EMAIL_HEIGHT}px; }
ul.profile-icons li.aim-icon	{ width: {IMG_ICON_CONTACT_AIM_WIDTH}px; height: {IMG_ICON_CONTACT_AIM_HEIGHT}px; }
ul.profile-icons li.yahoo-icon	{ width: {IMG_ICON_CONTACT_YAHOO_WIDTH}px; height: {IMG_ICON_CONTACT_YAHOO_HEIGHT}px; }
ul.profile-icons li.web-icon	{ width: {IMG_ICON_CONTACT_WWW_WIDTH}px; height: {IMG_ICON_CONTACT_WWW_HEIGHT}px; }
ul.profile-icons li.msnm-icon	{ width: {IMG_ICON_CONTACT_MSNM_WIDTH}px; height: {IMG_ICON_CONTACT_MSNM_HEIGHT}px; }
ul.profile-icons li.icq-icon	{ width: {IMG_ICON_CONTACT_ICQ_WIDTH}px; height: {IMG_ICON_CONTACT_ICQ_HEIGHT}px; }
ul.profile-icons li.jabber-icon	{ width: {IMG_ICON_CONTACT_JABBER_WIDTH}px; height: {IMG_ICON_CONTACT_JABBER_HEIGHT}px; }
ul.profile-icons li.pm-icon		{ width: {IMG_ICON_CONTACT_PM_WIDTH}px; height: {IMG_ICON_CONTACT_PM_HEIGHT}px; }

/* Pagination */
.pagination {
	height: 1%;
	width: auto;
	text-align: right;
	margin-top: 5px;
	float: right;
}

.pagination span.page-sep {
	display: none;
}

li.pagination {
	margin-top: 0;
}

.pagination strong, .pagination b {
	font-weight: normal;
}

.pagination span strong {
	padding: 0 2px;
	margin: 0 2px;
	font-weight: normal;
	color: #FFFFFF;
	font-size: 9px;
}

.pagination span a, .pagination span a:link, .pagination span a:visited, .pagination span a:active {
	font-weight: normal;
	text-decoration: none;
	margin: 0 2px;
	padding: 0 2px;
	background-color: #3A3A39;
	border: 1px solid rgba(255, 200, 200, 0.25);
	font-size: 9px;
	line-height: 1.5em;
}

.pagination span a:hover {
	background-color: #4D4D4D;
	color: #FFF;
	text-decoration: none;
}

.pagination img {
	vertical-align: middle;
}

.row .pagination {
	display: block;
	float: right;
	width: auto;
	margin-top: 0;
	padding: 1px 0 1px 15px;
	font-size: 9px;
	background: none 0 50% no-repeat;
}

.row .pagination span a, li.pagination span a {
	background-color: #3A3A39;
	border: 1px solid rgba(255, 200, 200, 0.25);
}

.row .pagination span a:hover, li.pagination span a:hover {
	background-color: #4D4D4D;
	color: #FFF;
}

/* Topic actions */
.topic-actions {
	font-size: 11px;
	height: auto;
	margin-bottom: 20px;
	min-height: 28px;
}

.topic-actions .buttons .post-icon {
	float: left;
	margin: 0;
	vertical-align: middle;
}

.topic-actions .search-box {
	float: left;
	vertical-align: middle;
}

.topic-actions .search-box input.inputbox {
	font-size: 12px;
	padding: 3px 2px;
	margin: 3px 10px;
	vertical-align: middle;
}

/* Icons */
.email-icon, .email-icon a		{ background: url("{IMG_ICON_CONTACT_EMAIL_SRC}") top left no-repeat; }
.aim-icon, .aim-icon a			{ background: url("{IMG_ICON_CONTACT_AIM_SRC}") top left no-repeat; }
.yahoo-icon, .yahoo-icon a		{ background: url("{IMG_ICON_CONTACT_YAHOO_SRC}") top left no-repeat; }
.web-icon, .web-icon a			{ background: url("{IMG_ICON_CONTACT_WWW_SRC}") top left no-repeat; }
.msnm-icon, .msnm-icon a			{ background: url("{IMG_ICON_CONTACT_MSNM_SRC}") top left no-repeat; }
.icq-icon, .icq-icon a			{ background: url("{IMG_ICON_CONTACT_ICQ_SRC}") top left no-repeat; }
.jabber-icon, .jabber-icon a		{ background: url("{IMG_ICON_CONTACT_JABBER_SRC}") top left no-repeat; }
.pm-icon, .pm-icon a				{ background: url("{IMG_ICON_CONTACT_PM_SRC}") top left no-repeat; }

/* Content */
div.content
{
    padding-top: 0.5em;
    padding-bottom: 2.0em;
}

.postbody .content ul, .postbody .content blockquote, .postbody .content dl.codebox {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.postbody .content ul {
	margin-left: 20px;
}

.postbody .content blockquote {
	color: black;
	background: #EBEADD url("{T_THEME_PATH}/images/quote.gif") 6px 8px no-repeat;
	border: 1px solid #DBDBDB;
	font-size: 9.5px;
	margin: 0.5em 1px 0 25px;
	overflow: hidden;
	padding: 5px;
}

.postbody .content blockquote.uncited {
	padding-top: 25px;
}

.postbody .content cite {
	font-style: normal;
	font-weight: bold;
	margin-left: 20px;
	display: block;
	font-size: 11px;
}

#topicreview .postbody {
	width: 100%;
}

div.signature
{
    border-top: thin solid #848484;
    padding-top: 0.5em;
    vertical-align: bottom;
}

/* Polls */
fieldset.polls {
	background-color: #191919;
	border: solid 1px #303030;
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	padding: 1%;
}

fieldset.polls dl {
	margin-top: 5px;
	border-top: 1px solid #848484;
	padding: 5px 0 0 0;
	line-height: 120%;
	color: #595959;
}

fieldset.polls dl.voted {
	font-weight: bold;
	color: #FFFFFF;
}

fieldset.polls dt {
	text-align: left;
	float: left;
	display: block;
	width: 30%;
	border-right: none;
	padding: 0;
	margin: 0;
	font-size: 11px;
}

fieldset.polls dd {
	float: left;
	width: 10%;
	border-left: none;
	padding: 0 5px;
	margin-left: 0;
	font-size: 11px;
}

fieldset.polls dd.resultbar {
	width: 50%;
}

fieldset.polls dd input {
	margin: 2px 0;
}

fieldset.polls dd div {
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-weight: bold;
	padding: 0 2px;
	overflow: visible;
	min-width: 2%;
}

fieldset.polls dd div.pollbar1 {
	background-color: #aaaaaa;
	border-bottom: 1px solid #747474;
	border-right: 1px solid #747474;
	color: #000000;
}

fieldset.polls dd div.pollbar2 {
	background-color: #bebebe;
	border-bottom: 1px solid #8c8c8c;
	border-right: 1px solid #8c8c8c;
	color: #000000;
}

fieldset.polls dd div.pollbar3 {
	background-color: #D1D1D1;
	border-bottom: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	color: #000000;
}

fieldset.polls dd div.pollbar4 {
	background-color: #e4e4e4;
	border-bottom: 1px solid #bebebe;
	border-right: 1px solid #bebebe;
	color: #000000;
}

fieldset.polls dd div.pollbar5 {
	background-color: #f8f8f8;
	border-bottom: 1px solid #D1D1D1;
	border-right: 1px solid #D1D1D1;
	color: #000000;
}
